<div class="container my-1 py-3">
    <button type="button" class="btn btn-dark" routerLink="/index">Home</button> <b> | Pedidos</b>
    <hr>
    <h5>Pedidos En Espera</h5>
    <hr>
    <div *ngIf="show; else showDos">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
              <th>ID</th>
              <th>SERVICIO</th>
              <th>MONTO</th>
              <th>ID VEHICULO</th>
              <th>ACCIÓN</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of pedidos">
            <td>{{p.id}}</td>
            <td>{{p.id_servicio}}</td>
            <td>{{p.monto}}</td>
            <td>{{p.id_vehiculo}}</td>
            <td>
              <button type="button" class="btn btn-danger" style="margin-right: 10px;" (click)="deletePedido(p.id)">Cancelar</button>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
    <ng-template #showDos>
      <div class="alert alert-primary" role="alert">
        Aquí apareceran tus pedidos en espera de aprobación
      </div>
    </ng-template>
    <hr>
    <h5>Pedidos En ejecución</h5>
    <hr>
    <div  *ngIf="mostrar; else mostrarDos">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>SERVICIO</th>
            <th>MONTO</th>
            <th>ID VEHICULO</th>
            <th>ESTADO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of pedidosAprobados">
          <td>{{p.id}}</td>
          <td>{{p.id_servicio}}</td>
          <td>{{p.monto}}</td>
          <td>{{p.id_vehiculo}}</td>
          <td>APROBADO</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #mostrarDos>
    <div class="alert alert-primary" role="alert">
      Aquí apareceran tus pedidos en ejecución. Consulta tus pedidos finalizados <a href="/historial">Aquí</a>
    </div>
  </ng-template>
    <hr>
    
    <button type="button" class="btn btn-outline-primary" routerLink="/historial">Historial</button>
        
</div>
