<body>
	<h2 class="titulo">
        Lavadero de autos
    </h2>
	<header>
		<div class="contenedor">
			<h2 class="logotipo">Grupo2</h2>
			<nav>
				<a [routerLink]="['/inicio']">Inicio</a>
			</nav>
		</div>
	</header>

	<main>
		<div class="video">
			<iframe class="lavadero" src="https://www.youtube.com/embed/4-JNbnLO8rU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="descripcion">
			<p>Nuestra empresa de lavado  está enfocado fuertemente en la calidad de nuestros servicios y en la fidelización de nuestros clientes, utilizamos productos de primer nivel importados de los mercados más exigentes del mundo, lo que combinado con estricto programa de capacitación de nuestros operarios, garantiza obtener el más alto estándar de calidad disponible hoy en día en el mercado paraguayo.</p>
		</div>
	</main>

	    <!-- Footer --> 
		<footer class="footer">
			<h3>Grupo 2 Copyright</h3> 
		 </footer>

</body>