<div class="container my-3 py-3">
  <button type="button" class="btn btn-primary" routerLink="/index">Home</button> <b> | HISTORIAL DE LAVADOS</b>
  <hr>
  <div *ngIf="table;">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
              <th>ID</th>
              <th>SERVICIO</th>
              <th>MONTO</th>
              <th>ID VEHICULO</th>
              <th>ACCIÓN</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of pedidos">
            <td>{{p.id}}</td>
            <td>{{p.id_servicio}}</td>
            <td>{{p.monto}}</td>
            <td>{{p.id_vehiculo}}</td>
            <td>
              <button type="button" class="btn btn-danger" style="margin-right: 10px;" (click)="viewFactura(p.id)">Ver Factura</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      <div *ngIf="show;">
          <hr>
          <h5>FACTURA</h5>
          <div class="alert alert-primary" role="alert" *ngIf="perfil;">
            Por favor complete su perfil para generar su factura. <a href="/perfil">Completar Perfil</a>
          </div>
          <div class="container my-3 py-3" style="border: 1px solid gray" *ngFor="let p of pedido">
            <h2><b>CarWash</b></h2>
            <i>Coronel Bogado-Itapúa Py.</i><br>
            |||||||||||||||||||||||||||||||||||||||||||||
            <hr>
            FACTURA N° {{p.id}}
            <div style="border: 1px solid #ddd; border-radius: 5px">NOMBRE/S: {{p.nombre}}</div>
            <br>
            <div style="border: 1px solid #ddd; border-radius: 5px">APELLIDO/S: {{p.apellido}}</div>
            <br>
            <div style="border: 1px solid #ddd; border-radius: 5px">R.U.C/C.I: {{p.ci}} </div>
            <hr>
            <div style="border: 1px solid #ddd; border-radius: 5px">DIRECCION: {{p.direccion}} </div>
            <hr>
            <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">SERVICIO</th>
              <th scope="col">Sub Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{p.id}}</td>
              <td>{{p.id_servicio}}</td>
              <td>{{p.monto}}</td>
            </tr>
            <tr>
              <td></td>
              <td>TOTAL</td>
              <td>{{p.monto}}</td>
            </tr>
          </tbody>
        </table>
      
            </div>
      </div>
      <div class="alert alert-primary" role="alert" *ngIf="alert;">
        Ningún pedido finalizado.
      </div>
</div>
