<div class="container my-3 py-3">
  <div *ngIf="crear;"><button type="button" class="btn btn-primary" routerLink="/index">Home</button><b> | COMPLETAR PERFIL</b></div>
  <div *ngIf="editar;"><button type="button" class="btn btn-primary" routerLink="/index">Home</button> <b> | EDITAR PERFIL</b></div>
  <hr>
    <form [formGroup]="form" (ngSubmit)="submit()" >
    <!--NOMBRE-->
    <div class="form-group">
    <input formControlName="nombre" [(ngModel)]="user.nombre" id="nombre" type="text" class="form-control" placeholder="NOMBRE/S">
       <div *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger">
         <div *ngIf="f.nombre.errors.required">Campo Obligatorio</div>
       </div>
    </div>
    <!--APELLIDO-->
    <div class="form-group">
        <input formControlName="apellido" [(ngModel)]="user.apellido" id="apellido" type="text" class="form-control" placeholder="APELLIDO/S">
           <div *ngIf="f.apellido.touched && f.apellido.invalid" class="alert alert-danger">
             <div *ngIf="f.apellido.errors.required">Campo Obligatorio</div>
           </div>
        </div>
    <!--CI-->
    <div class="form-group">
        <input formControlName="ci" [(ngModel)]="user.ci" id="ci" type="text" class="form-control" placeholder="C.I">
           <div *ngIf="f.ci.touched && f.ci.invalid" class="alert alert-danger">
             <div *ngIf="f.ci.errors.required">Campo Obligatorio</div>
           </div>
        </div>
    <!--DIRECCION-->
    <div class="form-group">
        <input formControlName="direccion" [(ngModel)]="user.direccion" id="direccion" type="text" class="form-control" placeholder="Direccion">
           <div *ngIf="f.direccion.touched && f.direccion.invalid" class="alert alert-danger">
             <div *ngIf="f.direccion.errors.required">Campo Obligatorio</div>
           </div>
        </div>
    <!--CELULAR-->
    <div class="form-group">
        <input formControlName="celular" [(ngModel)]="user.celular" id="celular" type="number" class="form-control" placeholder="Celular">
           <div *ngIf="f.celular.touched && f.celular.invalid" class="alert alert-danger">
             <div *ngIf="f.celular.errors.required">Campo Obligatorio</div>
           </div>
        </div>
    <!--USER_ID-->
    <div class="form-group">
        <input formControlName="id_usuario" [(ngModel)]="user_id" id="id_usuario" type="text" class="form-control" hidden>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Guardar</button>
    </form>
</div>
