<div class="container my-3">
    <div class="col-md-4 offset-md-4">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title text-center">Ingresar</h5>
                <small id="emailHelp" class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors }}</small>
                <hr>
              </div>
              <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="login()">  
                                                              
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Correo</label>
                        <input type="text" formControlName="email" class="form-control" placeholder="Email">
                      </div>

                      <div *ngIf="email.invalid && (email.dirty || email.touched)"
                              class="form-text text-muted">
                            <div *ngIf="email.errors?.required">
                              Correo electrónico obligatorio
                            </div>
                            <div *ngIf="email.errors?.email">
                              Correo no válido
                            </div>
                      </div> 
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Contraseña</label>
                        <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
                      </div>

                      <div *ngIf="password.invalid && (password.dirty || password.touched)"
                              class="form-text text-muted">
                            <div *ngIf="password.errors?.required">
                             Contraseña obligatoria
                            </div>
                            <div *ngIf="password.errors?.minlength">
                             Minimo de 8 caracteres
                            </div>
                      </div>
                    </div>
                  </div>          

                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" [disabled] = "!loginForm.valid" class="btn btn-primary btn-round">Login</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <a href="/register" style="margin: 5px;">Registrarse</a>
          </div>
          
</div>
