<div class="container">
    <h3>Create new Pedido</h3>

    <form [formGroup]="form" (ngSubmit)="submit()" >
        <!--SERVICIO-->
        <div class="form-group">
            <label for="servicio">id_servicio</label>
            <input formControlName="id_servicio" id="id_servicio"  type="radio" class="form-control" value="1" (click)="show=1"> FULL
            <input formControlName="id_servicio" id="id_servicio2" type="radio" class="form-control" value="2" (click)="show=2"> SEMI
            <div *ngIf="f.id_servicio.touched && f.id_servicio.invalid" class="alert alert-danger">
                <div *ngIf="f.id_servicio.errors.required">Title is required.</div>
            </div>
        </div>
        <!--Categoria-->
        <label for="">
            <input type="radio" name="cat" (click)="getPrice(1);">Auto
        </label>
        <label for="">
            <input type="radio" name="cat" (click)="getPrice(2);">Camioneta
        </label>
        
        <!--MONTO-->
        <div class="form-group">
            <label for="monto">monto</label>
            <input 
                formControlName="monto"
                id="monto" 
                type="radio" 
                class="form-control"
                value="{{precio}}"> {{precio}}
            <div *ngIf="f.monto.touched && f.monto.invalid" class="alert alert-danger">
                <div *ngIf="f.monto.errors.required">Title is required.</div>
            </div>
        </div>
        <!--NOMBRE-->
        <div class="form-group">
            <label for="name">nombre</label>
            <input 
                formControlName="nombre"
                id="nombre" 
                type="text" 
                class="form-control">
            <div *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger">
                <div *ngIf="f.nombre.errors.required">Title is required.</div>
            </div>
        </div>
        <!--CI-->
        <div class="form-group">
            <label for="ci">ci</label>
            <input 
                formControlName="ci"
                id="ci" 
                type="text" 
                class="form-control">
            <div *ngIf="f.ci.touched && f.ci.invalid" class="alert alert-danger">
                <div *ngIf="f.ci.errors.required">Title is required.</div>
            </div>
        </div>
        <!--Descripcion_vehiculo-->
        <div class="form-group">
            <label for="descripcion">descripcion_vehiculo</label>
            <input 
                formControlName="descripcion_vehiculo"
                id="descripcion_vehiculo" 
                type="text" 
                class="form-control">
            <div *ngIf="f.descripcion_vehiculo.touched && f.descripcion_vehiculo.invalid" class="alert alert-danger">
                <div *ngIf="f.descripcion_vehiculo.errors.required">Title is required.</div>
            </div>
        </div>
        <!--COLOR-->
        <div class="form-group">
            <label for="color">color</label>
            <input 
                formControlName="color_vehiculo"
                id="color_vehiculo" 
                type="text" 
                class="form-control">
            <div *ngIf="f.color_vehiculo.touched && f.color_vehiculo.invalid" class="alert alert-danger">
                <div *ngIf="f.color_vehiculo.errors.required">Title is required.</div>
            </div>
        </div>
        <!--CHAPA-->
        <div class="form-group">
            <label for="chapa">chapa</label>
            <input 
                formControlName="chapa_vehiculo"
                id="chapa_vehiculo" 
                type="text" 
                class="form-control">
            <div *ngIf="f.chapa_vehiculo.touched && f.chapa_vehiculo.invalid" class="alert alert-danger">
                <div *ngIf="f.chapa_vehiculo.errors.required">Title is required.</div>
            </div>
        </div>
        <!--id_empleado_encargado-->
        <div class="form-group">
            <label for="empleado">id_empleado</label>
            <input 
                formControlName="id_empleado_encargado"
                id="id_empleado_encargado" 
                type="text" 
                class="form-control">
            <div *ngIf="f.id_empleado_encargado.touched && f.id_empleado_encargado.invalid" class="alert alert-danger">
                <div *ngIf="f.id_empleado_encargado.errors.required">Title is required.</div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
    
    
</div>
