<div class="container my-3">
    <button type="button" class="btn btn-primary" routerLink="/index">Back</button><b> | Nuevo Pedido</b>
    <hr>
    <form [formGroup]="form" (ngSubmit)="submit()" >
       
        <!--SERVICIO-->
        <div class="form-group">
            <label for="servicio"><b>Seleccione Un Servicio</b></label><br>
            <label class="radio-inline my-3" style="margin-right: 5px;">
            <input formControlName="id_servicio" id="id_servicio"  type="radio"  value="1" (click)="getPrice(1)"> FULL
            </label>
            <label class="radio-inline my-3" style="margin-right: 5px;">
            <input formControlName="id_servicio" id="id_servicio2" type="radio"  value="2" (click)="getPrice(2)"> EXTERIOR+
            </label>
            <label class="radio-inline my-3" style="margin-right: 5px;">
                <input formControlName="id_servicio" id="id_servicio2" type="radio"  value="3" (click)="getPrice(3)"> EXTERIOR ECO
            </label>
            <label class="radio-inline my-3" style="margin-right: 5px;">
                <input formControlName="id_servicio" id="id_servicio2" type="radio"  value="4" (click)="getPrice(4)"> SEMI+
            </label>
            <label class="radio-inline my-3" style="margin-right: 5px;">
                <input formControlName="id_servicio" id="id_servicio2" type="radio"  value="5" (click)="getPrice(5)"> INTERIOR
            </label>
            <div *ngIf="f.id_servicio.touched && f.id_servicio.invalid" class="alert alert-danger">
                <div *ngIf="f.id_servicio.errors.required">Service is required.</div>
            </div>
        </div>
        <div id="service"></div>
        <div class="alert alert-danger" role="alert" *ngIf="show;">
            Este servicio no está disponible para ésta categoria de vehiculo.
          </div>
        <hr>
        <!--MONTO-->
        <div class="form-group">
            <label for="monto"><b>PRECIO</b></label><br>
            <label>
            <input formControlName="monto" id="monto" type="text" [(ngModel)]="precio" value="{{precio}}" readonly> 
            </label>
            <div *ngIf="f.monto.touched && f.monto.invalid" class="alert alert-danger">
                <div *ngIf="f.monto.errors.required">Precio no disponible para este servicio.</div>
            </div>
        </div>
       <!--ID_USUARIO-->
       <div class="form-group">
           <input formControlName="id_usuario" id="id_usuario" type="text" [(ngModel)]="id_usuario" hidden>
       </div>
       <!--ID_VEHICULO-->
       <div class="form-group">
        <input formControlName="id_vehiculo" id="id_vehiculo" type="text" [(ngModel)]="id_vehiculo" hidden>
       </div>
       <!--ID_CATEGORIA-->
       <div class="form-group">
        <input formControlName="id_categoria" id="id_categoria" type="text" [(ngModel)]="categoria" hidden>
       </div>
       <hr>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Realizar Pedido</button>
    </form>
    
    
</div>
