<!--NAV-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"  style="height: 60px;">
    <a class="navbar-brand" href="#">CarWash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/seguir-pedido">AYUDA</a>
        </li>
        <li class="nav-item active">
          
          
          
        </li>
        <!---->
        <!---->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/perfil">{{name}} <i class="bi bi-gear"></i></a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-link" (click)=salir()>Cerrar Sesión</button>
        </li>
    </ul>
     
    </div>
  </nav>
  <!--BUTTONS-->
  <div class="container my-3">
  <button type="button" class="btn btn-dark" routerLink="/pedidos" style="margin-left: 10px;">Mis Pedidos</button>
  <button type="button" class="btn btn-dark" routerLink="/historial" style="margin-left: 10px;">Historial De Lavados</button>
  <button type="button" class="btn btn-outline-primary" routerLink="/agregar-vehiculo" style="margin-left: 10px;">Agregar Vehiculo</button>
  <hr>
</div>
<!--VEHICULOS-->
<div class="container my-3">
  <!--NOTIFICACIONES-->
  <div *ngFor="let n of notificaciones">
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{n.mensaje}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="deleteNotificacion(n.id)">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>
  <h4 style="background: whitesmoke; border-left: 2px solid #343c44;">&nbsp;Vehiculos </h4>
  <div *ngIf="table;">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
              <th>ID</th>
              <th>CATEGORIA</th>
              <th>MARCA</th>
              <th>MODELO</th>
              <th>COLOR</th>
              <th>MATRICULA</th>
              <th>ACCIÓN</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of vehiculos">
            <td>{{v.id}}</td>
            <td>{{v.id_categoria}}</td>
            <td>{{v.marca}}</td>
            <td>{{v.modelo}}</td>
            <td>{{v.color}}</td>
            <td>{{v.matricula}}</td>
            <td>
              <button type="button" class="btn btn-primary" routerLink="/pedido/create/{{v.id}}" style="margin-right: 10px;" (click)="metodo(v.id_categoria)">Pedir Lavado</button>
              <button type="button" class="btn btn-danger" (click)="deleteVehiculo(v.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="alert;">
      <div class="alert alert-primary" role="alert">
        Aquí se mostraran tus vehiculos. Si no tienes agregado ninguno ingresa en <a href="/agregar-vehiculo">agregar vehiculo.</a>
      </div>
    </div>
</div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark text-light">© 2020 Copyright:
    <a href="#"> Grupo2</a>
  </div>
  <!-- Copyright -->

