<div class="container my-3 py-3" style="border: 1px solid lightblue; border-radius: 5px; background: lightblue;">
    <button type="button" class="btn btn-primary" routerLink="/index">Back</button>
    <hr>
    <h3>Nuevo empleado</h3>
    <hr>
    <form [formGroup]="form" (ngSubmit)="submit()" >
    <!--NOMBRE-->
    <div class="form-group">
        <label for="nombre">NOMBRE</label>
        <input 
            formControlName="nombre"
            id="nombre" 
            type="text" 
            class="form-control">
        <div *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger">
            <div *ngIf="f.nombre.errors.required">El NOMBRE es obligatorio</div>
        </div>
    </div>
    <!--APELLIDO-->
    <div class="form-group">
        <label for="apellido">APELLIDO</label>
        <input 
            formControlName="apellido"
            id="apellido" 
            type="text" 
            class="form-control">
        <div *ngIf="f.apellido.touched && f.apellido.invalid" class="alert alert-danger">
            <div *ngIf="f.apellido.errors.required">El APELLIDO es obligatorio</div>
        </div>
    </div>
    <!--CI-->
    <div class="form-group">
        <label for="ci">N° CI</label>
        <input 
            formControlName="ci"
            id="ci" 
            type="number" 
            class="form-control">
        <div *ngIf="f.ci.touched && f.ci.invalid" class="alert alert-danger">
            <div *ngIf="f.ci.errors.required">El N° de CI es obligatorio</div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Guardar</button>
    </form>

</div>
