<div class="menu-btn">
  <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
  <!-- Navegacion -->
  <nav class="nav-main">
    <!-- Marca -->
    <img src="./assets/img/logo.png" alt="Grupo2 Logo" class="nav-brand">
    <!-- Nav -->
    <ul class="nav-menu">
      <li>
        <a href="#">Crear una cuenta</a>
      </li>
      <li>
        <a href="#">Ingresar</a>
      </li>
      <li>
        <a href="#">Servicios</a>
      </li>
      <li>
        <a href="#">Mas Info</a>
      </li>
      <li>
        <a href="#">Referencias</a>
    </ul>

    <!-- Navegación derecha -->
    <ul class="nav-menu-right">
      <li>
        <a href="#">
          <i class="fas fa-search"></i>
        </a>
      </li>
    </ul>
  </nav>
  <hr>

  <!-- Priincipal -->
 
    <header class="showcase">
      <h2>Lavadero de Autos!</h2>
      <p>Damos respuestas amables, competentes y orientadas a soluciones a todas tus preguntas acerca de lavados y los sistemas de limpieza de vehículos. brindamoos asesoramiento profesional!.</p>
      <a href="#" class="btn">
        Ver más <i class="fas fa-chevron-right"></i>
      </a>
    </header>

  <!-- Banner de tarjeta -->
  <div class="news-cards">
    <div>
      <img src="./assets/img/lavado-coches.png" alt="" />
      <h3>Lavado de coches.</h3>
      <p>Los puentes de lavado del grupo 2 lavan de forma rentable y respetuosa con el medio ambiente. Para gasolineras, concesionarios, centros de lavado, así como centros comerciales y cadenas de supermercados.
      </p>
      <a href="#">Más Info<i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="./assets/img/camiones.jpg" alt="" />
      <h3>Lavado de camiones.</h3>
      <p>Con un programa de instalaciones y máquinas para el lavado de vehículos industriales, respondemos a todas las exigencias que plantea cada tipo de vehículo.
      </p>
      <a href="#">Más Info <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="./assets/img/motos.jpg" alt="" />
      <h3>Lavado de motocicletas.</h3>
      <p>Tu moto es algo más que una máquina. Trátala bien y ella te lo agradecerá con un mejor rendimiento y mayor seguridad cuando la conduzcas. Lavar la moto es un proceso que solo nosotros podemos ayudarte con profesionales con las que conseguirás un resultado deseado
      </p>
      <a href="#">Más Info <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="./assets/img/autoser.jpg" alt="" />
      <h3>Sistemas de lavado en autoservicio.</h3>
      <p>Con un programa de instalaciones y máquinas para el lavado de vehículos industriales, Kärcher responde a todas las exigencias que plantea cada tipo de vehículo.
      </p>
      <a href="#">Más Info <i class="fas fa-angle-double-right"></i></a>
    </div>
  </div>

  <!-- Banner de tarjeta 1-->
  <section class="cards-banner-one">
    <div class="content">
      <h2>Limpiar autos y camiones de forma rentable..</h2>
      <p>Nuestro concepto flexible se ajusta completamente a sus necesidades: desde la planificación hasta la configuración individual. Nuestra experiencia como lavadero de coches y miles de vehículos le dan la seguridad de que con grupo 2 tiene a su lado un socio experimentado.
      ¡Déjese asesorar ahora por nuestro equipo de instalaciones de lavado!
      </p>
      <a href="#" class="btn">Ver Más<i class="fas fa-chevron-right"></i></a>
    </div>
  </section>

  <!-- noticias-->
  <div class="news-cards">
    <div>
      <img src="./assets/img/news1.jpg" alt="" />
      <h3>Satisfacción desde el primer momento.</h3>
      <p>Ya sea un concesionario, un inversor o un centro de lavado, grupo 2 busca desde el principio su satisfacción. Por tanto, ofrecemos sistemas bien meditados para cualquier aplicación y usuario, que convencen por su calidad y rentabilidad. Digno de su confianza desde hace años
      </p>
      <a href="#">Ver Más <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="./assets/img/news3.jpg" alt="" />
      <h3>Asistencia incluso después de la puesta en funcionamiento.</h3>
      <p>Prestamos a nuestros clientes asistencia de operador y de servicio, instrucción técnica y formaciones, servicio de postventa y apoyo con el fin de garantizar un uso rentable de su instalación de lavado.
      </p>
      <a href="#">Ver Más <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="./assets/img/image-three.jpg" alt="" />
      <h3>Grupo 2 se encuentra entre las mejores marcas de lavaderos.</h3>
      <p>Grupo 2 fue elegida por los lectores de la revista WERKSTATT como la mejor marca actual en la categoría de instalaciones de lavado móviles y fijas. En total, se podía elegir entre 93 marcas repartidas en 12 categorías, una imagen representativa de las marcas más importantes del mercado alemán.
      </p>
      <a href="#">ver Más <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="./assets/img/local.jpg" alt="" />
      <h3>¡Estamos a tu disposición!.</h3>
      <p>Todos los empleados están perfectamente familiarizados con las instalaciones, los equipos y los detergentes para poder darte asesoramiento profesional ya por teléfono. Por supuesto, también puedes acordar una cita en persona.
      </p>
      <a href="#">Ver Más <i class="fas fa-angle-double-right"></i></a>
    </div>
  </div>

  <!-- servicios -->
  <section class="cards-banner-two">
    <div class="content">
      <h2>Servicios.</h2>
      <p>La orientación al cliente siempre ocupa el lugar principal. La línea de atención telefónica, las instrucciones de manejo, la gestión y muchas otras ofertas ofrecen un apoyo rápido y competente a los usuarios particulares y profesionales ante cualquier pregunta y problema sobre los servicios de lavado.
      </p>
    </div>
  </section>

  <!-- redes -->
  <section class="social">
    <p>Seguinos en nuestras redes sociales</p>
    <div class="links">
      <a href="https://facebook.com">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://intagram.com">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </section>
</div>

<!-- Pie de página Links -->
<div class="footer-links">
  <div class="footer-container">
    <ul>
      <li>
        <a href="#">
          <h3>Lavamos de todo</h3>
        </a>
      </li>
      <li>
        <a href="#">Autos</a>
      </li>
      <li>
        <a href="#">Camionetas</a>
      </li>
      <li>
        <a href="#">Motocicletas</a>
      </li>
      <li>
        <a href="#">Bicicletas</a>
      </li>
      <li>
        <a href="#">Camiones</a>
      </li>
      <li>
        <a href="#">Tractores</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#">
          <h3>Lavamos de todo</h3>
        </a>
      </li>
      <li>
        <a href="#">Autos</a>
      </li>
      <li>
        <a href="#">Camionetas</a>
      </li>
      <li>
        <a href="#">Motocicletas</a>
      </li>
      <li>
        <a href="#">Bicicletas</a>
      </li>
      <li>
        <a href="#">Camiones</a>
      </li>
      <li>
        <a href="#">Tractores</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#">
          <h3>Lavamos de todo</h3>
        </a>
      </li>
      <li>
        <a href="#">Autos</a>
      </li>
      <li>
        <a href="#">Camionetas</a>
      </li>
      <li>
        <a href="#">Motocicletas</a>
      </li>
      <li>
        <a href="#">Bicicletas</a>
      </li>
      <li>
        <a href="#">Camiones</a>
      </li>
      <li>
        <a href="#">Tractores</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#">
          <h3>Lavamos de todo</h3>
        </a>
      </li>
      <li>
        <a href="#">Autos</a>
      </li>
      <li>
        <a href="#">Camionetas</a>
      </li>
      <li>
        <a href="#">Motocicletas</a>
      </li>
      <li>
        <a href="#">Bicicletas</a>
      </li>
      <li>
        <a href="#">Camiones</a>
      </li>
      <li>
        <a href="#">Tractores</a>
      </li>
    </ul>
  </div>
</div>

<!-- Footer --> 
<footer class="footer">
  <h3>Grupo 2 Copyright</h3> 
</footer>